Repository Nikxy/lambda-auth: changes, and which Jenkins stages are due for each by the changed paths.
All: Unit Tests, SAM Integration Tests, Deploy To AWS

Unit Tests:
              steps {
                  script {
                      def exitStatus = sh returnStatus: true, script: 'npm run test_ci:unit'
                      junit 'junit.xml'
                      if (exitStatus != 0) {
                          error 'Unit tests failed'
                      }
  ...

SAM Integration Tests:
              steps {
                  configFileProvider([CONFIG_FILE]) {
                      script {
                          config = readJSON(file:config_json)
                          def sam_arguments = readFile "${WORKSPACE}/sam-api-arguments.sh"
  ...

Deploy To AWS:
              steps {
                  configFileProvider([CONFIG_FILE]) {
                      withCredentials([usernamePassword(
                              credentialsId: 'AWSJenkinsDeploy',
                              usernameVariable: 'AWS_ACCESS_KEY_ID',
  ...

update example parameters to default parameters
  test-parameters.env.example
Due: none

add local testing step and clarification
  README.md
Due: none

insert missing "to"
  README.md
Due: none

add comments
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

refractoring
  template.yaml
Due: Deploy To AWS

add xray tracing
  template.yaml
Due: Deploy To AWS

install aws-xray-sdk-core
  src/package-lock.json
  src/package.json
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

remove test variable
  template.yaml
Due: Deploy To AWS

add xray integration
  src/utils/authRepository.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

add missing Resource to policy
  template.yaml
Due: Deploy To AWS

add awsxray to secretsmanager
  src/utils/getSecret.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

Revert "add awsxray to secretsmanager"
  src/utils/getSecret.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

add padding to diagram
  diagram.png
Due: none

refractoring
  src/utils/authRepository.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

add xray tracing
  src/utils/getSecret.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

enable metrics for api deployment
  template.yaml
Due: Deploy To AWS

update description
  README.md
Due: none

update packages
  web-test/package-lock.json
Due: none

update lambda role to use managed policies
  template.yaml
Due: Deploy To AWS

add serviceurl output
  template.yaml
Due: Deploy To AWS

add constraints to parameters
  template.yaml
Due: Deploy To AWS

improve domain parameter description
  template.yaml
Due: Deploy To AWS

add source arn to permission
  template.yaml
Due: Deploy To AWS

quotes refractor
  template.yaml
Due: Deploy To AWS

add missing initialized setting
  src/utils/authRepository.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

styling
  src/utils/authRepository.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

increase sam timeout as its was barely making it
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

fix permission arn path
  template.yaml
Due: Deploy To AWS

create loadAuthToken
  src/utils/loadAuthToken.js
  tests/unit/loadAuthToken.test.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

use loadAuthToken
  src/routes/status.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

fix import
  src/routes/status.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

create authorizer logic
  src/authorizer.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

fix response
  src/routes/status.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

update POST to GET
  tests/integration/cors.test.js
Due: SAM Integration Tests

use authorizer
  src/index.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

use authorizer
  template.yaml
Due: Deploy To AWS

add AuthorizerUri output
  template.yaml
Due: Deploy To AWS

update packages
  package-lock.json
Due: none

update packages
  src/package-lock.json
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

Path conditions:
  Unit Tests: ((any of: src/**) or (any of: tests/unit/**)) or (any of: Jenkinsfile)
  SAM Integration Tests: ((any of: src/**) or (any of: tests/integration/**)) or (any of: Jenkinsfile)
  Deploy To AWS: (any of: src/**) or (any of: template.yaml)
