Repository Nikxy/lambda-auth: changes, and which Jenkins stages are due for each by the changed paths.
All: Install npm dependencies, Unit Tests, SAM Integration Tests

Install npm dependencies:
              steps {
                  dir(SRC_FOLDER) {
                      sh 'npm ci'
                  }
              }
          

Unit Tests:
              steps {
                  dir(SRC_FOLDER) {
                      script {
                          def exitStatus = sh returnStatus: true, script: 'npm run test_ci:unit'
                          junit 'junit.xml'
                          if (exitStatus != 0) {
  ...

SAM Integration Tests:
              environment
              {
                  TEST_DOMAIN = 'orders'
                  TEST_USERNAME = 'orders'
                  TEST_PASSWORD = '0SdoPPhVztwbuSt2lTgv'
              }
              steps {
                  sh 'chmod +x sam-start-ci.sh'
  ...

lambda name isn't needed here with aws sam
  Jenkinsfile
Due: none

remove unnecessary curly bracket
  Jenkinsfile
Due: none

fix CR LF
  localstack/populate.sh
Due: none

force ci/cd
  src/package.json
Due: Install npm dependencies, Unit Tests, SAM Integration Tests

add no-progressbar parameter to sam deplot
  Jenkinsfile
Due: none

use warm containers
  sam-start-ci.sh
Due: none

test ci/cd
  src/index.js
Due: Unit Tests, SAM Integration Tests

add sleep to allow sam to start-up
  Jenkinsfile
Due: none

force ci/cd tests
  src/index.js
Due: Unit Tests, SAM Integration Tests

add more sleep
  Jenkinsfile
Due: none

update test to try both post and get
  src/test/integration/cors.test.js
Due: Unit Tests, SAM Integration Tests

add changesets for deployment
  Jenkinsfile
Due: none

change steps order
  Jenkinsfile
Due: none

move tests to root folder
  package-lock.json
  package.json
  src/package-lock.json
  src/package.json
  tests/integration/cors.test.js
  tests/integration/login-failed.test.js
  tests/integration/login-succeed.test.js
  tests/unit/initConfig.test.js
  tests/unit/response.test.js
Due: Install npm dependencies, Unit Tests, SAM Integration Tests

remove unnecessary volume mounting
  sam-start-ci.sh
Due: none

add tests npm install
  Jenkinsfile
Due: none

add more changesets for running testss
  Jenkinsfile
Due: none

remove env variables as it was moved to env file
  Jenkinsfile
Due: none

move tests to root folder
  Jenkinsfile
Due: none

ci/cd test
  Jenkinsfile
Due: none

force cd to install dependencies
  package.json
  src/package.json
Due: Install npm dependencies, Unit Tests, SAM Integration Tests

fix test dependencies not installing
  Jenkinsfile
Due: none

force test dependencies install
  package.json
Due: none

add node_modules exists test
  Jenkinsfile
Due: none

force ci/cd
  Jenkinsfile
Due: none

change sam files to arguments
  Jenkinsfile
  sam-api-arguments.sh
  sam-start-ci.sh
  sam-start.sh
Due: none

fix sam command
  Jenkinsfile
Due: none

fix invalid arguments path
  Jenkinsfile
Due: none

try fix arguments
  Jenkinsfile
Due: none

add back volume
  Jenkinsfile
Due: none

remove manual deploy script
  sam-deploy.sh
Due: none

update testing guide
  README.md
Due: none

force redeployment
  src/index.js
Due: Unit Tests, SAM Integration Tests

move region to jenkinsfile
  sam-api-arguments.sh
Due: none

add diagram
  README.md
  diagram.drawio
  diagram.svg
Due: none

fix local endpoint false
  src/utils/initConfig.js
Due: Unit Tests, SAM Integration Tests

Path conditions:
  Install npm dependencies: any of: src/package.json
  Unit Tests: any of: src/**
  SAM Integration Tests: any of: src/**
