Repository Nikxy/lambda-auth: changes, and which Jenkins stages are due for each by the changed paths.
All: Unit Tests, SAM Integration Tests, Deploy To AWS

Unit Tests:
              steps {
                  script {
                      def exitStatus = sh returnStatus: true, script: 'npm run test_ci:unit'
                      junit 'junit.xml'
                      if (exitStatus != 0) {
                          error 'Unit tests failed'
                      }
  ...

SAM Integration Tests:
              steps {
                  configFileProvider([CONFIG_FILE]) {
                      script {
                          config = readJSON(file:config_json)
                          def sam_arguments = readFile "${WORKSPACE}/sam-api-arguments.sh"
  ...

Deploy To AWS:
              steps {
                  configFileProvider([CONFIG_FILE]) {
                      withCredentials([usernamePassword(
                              credentialsId: 'AWSJenkinsDeploy',
                              usernameVariable: 'AWS_ACCESS_KEY_ID',
  ...

remove old invalid comments
  template.yaml
Due: Deploy To AWS

add exports for the authorizer
  template.yaml
Due: Deploy To AWS

add Authorization header parameter
  src/index.js
  src/routes/refresh.js
  src/routes/status.js
  src/utils/response.js
  template.yaml
  test-variables
  tests/integration/login-succeed.test.js
  web-test/src/auth.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

fix headers
  tests/integration/login-succeed.test.js
Due: SAM Integration Tests

remove AuthorizerCredentials & add ttl
  template.yaml
Due: Deploy To AWS

fix LocalStack parameter description
  template.yaml
Due: Deploy To AWS

create getParameterCaseInsensitive
  src/utils/getParameterCaseInsensitive.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

use getParameterCaseInsensitive
  src/routes/refresh.js
  src/routes/status.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

add trim to fix whitespace problems
  tests/integration/login-failed.test.js
  tests/integration/login-succeed.test.js
Due: SAM Integration Tests

Fix CRLF
  Jenkinsfile
  README.md
  src/authorizer.js
  src/routes/refresh.js
  src/routes/status.js
  src/utils/initConfig.js
  src/utils/loadAuthToken.js
  template.yaml
  test-variables
  tests/integration/cors.test.js
  tests/integration/login-failed.test.js
  tests/unit/loadAuthToken.test.js
  web-test/src/auth.js
  web-test/src/statusView.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

remove AuthorizerRole as it's not needed
  template.yaml
Due: Deploy To AWS

allow all api gateways to invoke lambda
  template.yaml
Due: Deploy To AWS

whitespace
  src/authorizer.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

refractor policy
  src/authorizer.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

remove hello world
  src/index.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

create authorizer tests
  tests/integration/authorizer.test.js
  tests/integration/login-succeed.test.js
Due: SAM Integration Tests

add todo
  README.md
Due: none

Path conditions:
  Unit Tests: ((any of: src/**) or (any of: tests/unit/**)) or (any of: Jenkinsfile)
  SAM Integration Tests: ((any of: src/**) or (any of: tests/integration/**)) or (any of: Jenkinsfile)
  Deploy To AWS: (any of: src/**) or (any of: template.yaml)
