Repository Nikxy/lambda-auth: changes, and which Jenkins stages are due for each by the changed paths.
All: Unit Tests, SAM Integration Tests, Deploy To AWS

Jenkinsfile:

def SRC_FOLDER = 'src'

pipeline {
    agent any

    tools {
        nodejs 'Node 18.x'
    }
    environment {
        TEST_NODE_MODULES_EXISTS = fileExists 'node_modules'
        SRC_NODE_MODULES_EXISTS = fileExists 'src/node_modules'
        AWS_SAM_EXISTS = fileExists 'venv/bin/sam'
        AWS_DEFAULT_REGION = 'il-central-1'
    }

    stages {
        stage('Install AWS SAM') {
            when { expression { AWS_SAM_EXISTS == 'false' } }
            steps {
                echo 'Installing AWS SAM'
                sh(returnStdout:true, script: 'python3 -m venv venv && venv/bin/pip install aws-sam-cli')
            }
        }
        stage('Install test npm dependencies') {
            when {
                anyOf {
                    changeset 'package.json';
                    changeset 'package-lock.json';
                    expression { TEST_NODE_MODULES_EXISTS == 'false' }
                }
            }
            steps {
                sh 'npm ci'
            }
        }
        stage('Install src npm dependencies') {
            when {
                anyOf {
                    changeset 'src/package.json';
                    changeset 'src/package-lock.json';
                    expression { SRC_NODE_MODULES_EXISTS == 'false' }
                }
            }
            steps {
                dir(SRC_FOLDER) { sh 'npm ci' }
            }
        }
        stage('Unit Tests') {
            when {
                anyOf { changeset 'src/**'; changeset 'tests/unit/**'; changeset 'Jenkinsfile' }
            }
            steps {
                script {
                    def exitStatus = sh returnStatus: true, script: 'npm run test_ci:unit'
                    junit 'junit.xml'
                    if (exitStatus != 0) {
                        error 'Unit tests failed'
                    }
                }
            }
        }
        stage('SAM Integration Tests') {
            when {
                anyOf { changeset 'src/**'; changeset 'tests/integration/**'; changeset 'Jenkinsfile' }
            }

            steps {
                sh 'chmod +x sam-start-ci.sh'
                sh 'nohup ./sam-start-ci.sh > $WORKSPACE/sam.log 2>&1 &'
                sh 'sleep 10'
                script {
                    def exitStatus = sh returnStatus: true, script: 'npm run test_ci:integration'
                    junit 'junit-integration.xml'
                    if (exitStatus != 0) {
                        error 'Integration tests failed'
                    }
                }
            }
        }
        
        stage('Deploy To AWS') {
            when {
                anyOf { changeset 'src/**'; changeset 'template.yaml'}
            }
            steps {
                sh 'echo "Deploying to AWS"'
                withCredentials([usernamePassword(
                    credentialsId: 'AWSJenkinsDeploy',
                    usernameVariable: 'AWS_ACCESS_KEY_ID',
                    passwordVariable: 'AWS_SECRET_ACCESS_KEY'
                )]) {
                    sh 'venv/bin/sam deploy --stack-name nikxy-auth --region ${AWS_DEFAULT_REGION} \
                        --s3-bucket nikxy-cloudformation --s3-prefix sam-nikxy-auth \
                        --on-failure ROLLBACK --capabilities CAPABILITY_NAMED_IAM \
                        --no-progressbar'
                }
            }
        }
    }
}

add diagram
  README.md
  diagram.drawio
  diagram.png
  diagram.svg
Due: none

make script wait for sam to be ready
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

force ci/cd
  src/index.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

change shell to bash
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

add region
  sam-api-arguments.sh
Due: none

Force deployment? [y/N] y
  src/index.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

remove unused svg diagram
  diagram.svg
Due: none

recreate tamplate after sanitization
  template.yaml
Due: Deploy To AWS

remove default value for localstack
  template.yaml
Due: Deploy To AWS

use stack name instead of service name parameter
  template.yaml
Due: Deploy To AWS

move region to jenkinsfile
  Jenkinsfile
  sam-api-arguments.sh
Due: Unit Tests, SAM Integration Tests

user variables for some options
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

change test variables file name
  package.json
  test-variables
  test.env
Due: none

change keys to test
  localstack/populate.sh
  localstack/test-secret.json
  localstack/test-user.json
Due: none

ask for localstack endpoint
  localstack/populate.sh
Due: none

add env ignore
  .gitignore
Due: none

fix env ignore
  .gitignore
Due: none

rename variable for clarity
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

create localstack testing variable
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

create tablename variable
  template.yaml
Due: Deploy To AWS

add localstack empty default
  template.yaml
Due: Deploy To AWS

create testing pattern
  README.md
  sam-start
  test-parameters.env.example
Due: none

create deployment steps
  README.md
Due: none

add secrets manager time test
  src/utils/getSecret.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

update sam arguments
  Jenkinsfile
  sam-api-arguments.sh
Due: Unit Tests, SAM Integration Tests

fix sam command
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

add and test sam timeout
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

fix syntax
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

set the default table & secret names for testing
  localstack/populate.sh
  template.yaml
Due: Deploy To AWS

make code readable
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

fix sam start command
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

force ci/cd deploy
  template.yaml
Due: Deploy To AWS

change default value to false
  template.yaml
Due: Deploy To AWS

remove secretmanager time test
  src/utils/getSecret.js
Due: Unit Tests, SAM Integration Tests, Deploy To AWS

add apigateway stage error logging
  template.yaml
Due: Deploy To AWS

add service url for login instead of hardcoding
  web-test/index.html
  web-test/src/auth.js
  web-test/src/loginView.js
  web-test/src/statusView.js
Due: none

rename stack name var
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests

move variables to jenkins config file
  Jenkinsfile
  jenkinsbuildconfig.json
Due: Unit Tests, SAM Integration Tests

remove excess parenthesis
  Jenkinsfile
Due: Unit Tests, SAM Integration Tests
